VITE_APP_USER_SERVICE_API_BASE_URL=https://user.dev.svc.youverify.co
VITE_APP_IDENTITY_SERVICE_API_BASE_URL=https://identity.dev.svc.youverify.co
VITE_APP_SDK_PUBLIC_KEY=61d880f1e8e15aaf24558f1a
VITE_APP_ENV=development
VITE_APP_API_TOKEN=lsV0yH38.7zPjRKAuEtBwRuu5HjcXMi7uHhJXMDD6v5Eg
